footer {
    margin-top: 60px;
    background-color: #ededed;
    padding: 22px 0 0 0px;
    text-align: center;

    p {
        font-size: 14px;
        color: $azul;
        padding-top: 32px;
    }

    .linhaFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
