.itemAtende {
    // background-color: $verde;
    list-style-type: none;
    flex-direction: row;
    margin: 2px;
    width: 31.3%;
    padding: 6px 2px 2px 8px;

    .linhaI {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        h5 {
            font-weight: bold;
            font-size: 16px;
            position: relative;
            top: 5px;
            color: #fff;
        }
        color: $preto;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    p {
        font-size: 12px;
    }

    &:hover {
        background-color: $amarelo;
    }
}
.ulLinhaAtende {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}
.contentAtende {
    margin-top: 26px;
}
.btnCarregarMais {
    button {
        width: 150px;
    }
}
.colItensLink {
    li {
        list-style-type: none;
    }
}
.azulBackground {
    background-color: $azul;
    margin-top: 30px;
    padding: 10px 0;

    .nav-tabs {
        background-color: #1a4593;
        border: none;

        button {
            color: #fff;
            border-radius: 0;
        }

        .active {
            background-color: transparent;
            border-right: none;
            border-top: none;
            border-left: none;
            border-bottom: 3px solid $amarelo;

            color: $amarelo;
        }
    }
}
.itemButton {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #1a4593;
    border: 1px solid #123067;
    width: 28.54%;
    margin: 2px;
    height: 90px;
    text-decoration: none;
    i {
        font-size: 28px;
    }

    &:hover {
        color: $amarelo;
        background-color: #123067;
    }

    @include for-tablet-landscape-up {
        width: 16%;
    }
}
.contentLinks {
    display: flex;
    flex-wrap: wrap;
}
