.imagemNoticia {
    border: 1px solid $amarelo;
    width: 120px;
    height: 120px;
    object-fit: cover;

    @include for-tablet-landscape-up {
        width: 340px;
        height: 190px;
        object-fit: cover;
        margin-right: 16px;
    }
}
.itemNoticia {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: $preto;
    align-items: center;
    margin: 12px 0;
    .descricaoNotcia {
        display: none;

        @include for-tablet-landscape-up {
            display: block;
            font-size: 14px;
            color: #5c5c5c;
        }
    }
    .dataNoticia {
        display: none;

        @include for-tablet-landscape-up {
            display: block;
            font-size: 12px;
            color: #4b4b4b;
            margin-bottom: 8px;
        }
    }
    .tituloNoticia {
        width: 70%;
        h3 {
            font-size: 16px;
            padding: 0px 8px 0 0;
        }
    }

    .categorianoticia {
        text-transform: uppercase;
        font-weight: bold;
        color: $azul;
        margin-top: 16px;
    }
    padding-bottom: 16px;
    border-bottom: 1px solid #bfbfbf;
}

.tituloSecoesContent {
    color: $preto;
    font-weight: bold;
    margin: 16px 0;
    display: flex;
}
.tituloSecoesContent::before {
    content: "";
    width: 5px;
    height: 10px;
    background-color: $azul;
    display: block;
    position: relative;
    top: 8px;
    margin-right: 6px;
}
.noticiasSecao {
    margin-top: 22px;
}
.itemCarrouselImage {
    margin-right: 16px;
    margin-top: 16px;
}
.linhabanners {
    margin-top: 30px;
}
