$amarelo: rgba(255, 188, 0, 1);
$preto: rgba(52, 52, 52, 1);
$branco: rgba(255, 255, 255, 1);
$laranja: rgba(255, 113, 16, 1);
$azul: rgba(43, 86, 165, 1);
$verde: rgba(43, 178, 84, 1);
$azul_claro: rgba(11, 154, 222, 1);
$verde_escuro: rgba(0, 121, 67, 1);
